.logo {
  font-size: 80px !important;
}
h1 {
  font-size: 50px !important;
}
.steps {
  margin-top: 20px;
  margin-bottom: 10px;
}
mark {
  background-color: rgb(248, 249, 250) !important;
  border: solid 1px #dee2e6 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  border-radius: 5px;
}
mark.large {
  display: block;
  padding: 20px !important;
  margin-top: 20px !important;
}
a {
  text-decoration: none !important;
}
a.with-hover {
  transition: background-color 0.5s, color 0.5s;
}
a.with-hover:hover {
  background-color: rgb(13, 110, 253) !important;
  color: #fff !important;
}
a mark {
  background-color: rgb(161, 238, 255) !important;
  border: solid 1px dodgerblue !important;
}
li {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
.attention {
  font-weight: normal;
  color: #f03030;
  border-left: solid 5px #f03030;
  padding-left: 10px;
}
.attention mark {
  background-color: rgb(252, 168, 168) !important;
  border: solid 1px rgb(239, 100, 100) !important;
}
