.form_check_input {
  width: 1.5em !important;
  height: 1.5em !important;
}

.loading {
  z-index: 2000;
  --bs-bg-opacity: 0.7;
}
.pagination_details {
  font-size: 0.7rem;
}

@media (min-width: 768px) {
  .form_check_input {
    width: 1em !important;
    height: 1em !important;
    margin-top: 7px !important;
  }
}
